<a href="https://colab.research.google.com/github/Kaushal464/Data-Science/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dt = pd.read_csv('Q7.csv')

In [ ]:
dt

             Unnamed: 0  Points  Score  Weigh
0             Mazda RX4    3.90  2.620  16.46
1         Mazda RX4 Wag    3.90  2.875  17.02
2            Datsun 710    3.85  2.320  18.61
3        Hornet 4 Drive    3.08  3.215  19.44
4     Hornet Sportabout    3.15  3.440  17.02
5               Valiant    2.76  3.460  20.22
6            Duster 360    3.21  3.570  15.84
7             Merc 240D    3.69  3.190  20.00
8              Merc 230    3.92  3.150  22.90
9              Merc 280    3.92  3.440  18.30
10            Merc 280C    3.92  3.440  18.90
11           Merc 450SE    3.07  4.070  17.40
12           Merc 450SL    3.07  3.730  17.60
13          Merc 450SLC    3.07  3.780  18.00
14   Cadillac Fleetwood    2.93  5.250  17.98
15  Lincoln Continental    3.00  5.424  17.82
16    Chrysler Imperial    3.23  5.345  17.42
17             Fiat 128    4.08  2.200  19.47
18          Honda Civic    4.93  1.615  18.52
19       Toyota Corolla    4.22  1.835  19.90
20        Toyota Corona    3.70  2.465  20.01
21     Dodge Challenger    2.76  3.520  16.87
22          AMC Javelin    3.15  3.435  17.30
23           Camaro Z28    3.73  3.840  15.41
24     Pontiac Firebird    3.08  3.845  17.05
25            Fiat X1-9    4.08  1.935  18.90
26        Porsche 914-2    4.43  2.140  16.70
27         Lotus Europa    3.77  1.513  16.90
28       Ford Pantera L    4.22  3.170  14.50
29         Ferrari Dino    3.62  2.770  15.50
30        Maserati Bora    3.54  3.570  14.60
31           Volvo 142E    4.11  2.780  18.60

In [ ]:
dt.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [ ]:
dt.tail()

        Unnamed: 0  Points  Score  Weigh
27    Lotus Europa    3.77  1.513   16.9
28  Ford Pantera L    4.22  3.170   14.5
29    Ferrari Dino    3.62  2.770   15.5
30   Maserati Bora    3.54  3.570   14.6
31      Volvo 142E    4.11  2.780   18.6

In [ ]:
dt.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [ ]:
cols = ['Points','Score','Weigh']
dt[cols].mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [ ]:
dt[cols].median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [ ]:
dt[cols].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [ ]:
dt[cols].mode() 'rm na= True'

SyntaxError: ignored

In [ ]:
dt[cols].mode

<bound method DataFrame.mode of     Points  Score  Weigh
0     3.90  2.620  16.46
1     3.90  2.875  17.02
2     3.85  2.320  18.61
3     3.08  3.215  19.44
4     3.15  3.440  17.02
5     2.76  3.460  20.22
6     3.21  3.570  15.84
7     3.69  3.190  20.00
8     3.92  3.150  22.90
9     3.92  3.440  18.30
10    3.92  3.440  18.90
11    3.07  4.070  17.40
12    3.07  3.730  17.60
13    3.07  3.780  18.00
14    2.93  5.250  17.98
15    3.00  5.424  17.82
16    3.23  5.345  17.42
17    4.08  2.200  19.47
18    4.93  1.615  18.52
19    4.22  1.835  19.90
20    3.70  2.465  20.01
21    2.76  3.520  16.87
22    3.15  3.435  17.30
23    3.73  3.840  15.41
24    3.08  3.845  17.05
25    4.08  1.935  18.90
26    4.43  2.140  16.70
27    3.77  1.513  16.90
28    4.22  3.170  14.50
29    3.62  2.770  15.50
30    3.54  3.570  14.60
31    4.11  2.780  18.60>

In [ ]:
dt[cols].var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [ ]:
dt[cols].std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [ ]:
### for range put in the variable give the max-min=range
p = dt[cols] 
P = p.max() - p.min()
P

Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

In [ ]:
mark = (34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56)
mark

(34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56)

In [ ]:
mark1 = 34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56

In [ ]:
mark1

(34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56)

In [ ]:
mark2=[34,36,36,38,38,39,39,40,40,41,41,41,41,42,45,49,56]

In [ ]:
mark2

[34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 45, 49, 56]

In [ ]:
bd = statistics.median(mark2)
print(bd)

NameError: ignored

In [ ]:
import statistics
ab = statistics.median(mark1)
ac = statistics.mean(mark1)
ad = statistics.mode(mark1)
var = statistics.variance(mark1)
std = statistics.stdev(mark1)
ab
ac
ad
var
std

5.05266382858645

In [ ]:
call center value

In [ ]:
import scipy 
import numpy as np
import statistics

In [ ]:
(4-3.7 )/(3/np.sqrt(50))

0.7071067811865471

In [ ]:
2*stats.t.cdf(-0.7071,df= 49)

NameError: ignored

ONE TAIL TEST

In [ ]:
DATA = pd.Series([0.593,0.1])

In [ ]:
dt

'Q7.csv'